* {
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
}

img {
  max-width: 100%;
}

header, .footer {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: var(--space-small) var(--space-regular);
}

.navbar a, .navbar h1 {
  color: var(--color-background);
  font-family: var(--font-secondary);
}

.navbar a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  /* font-size: var(--font-size-large); */
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.welcome-section, .spots-list, .rankings, .profile, .profile-content, .content-container, .add-review, .spot-intro, .spot-details, .rating-breakdown, .user-reviews, .photo-upload, .gallery {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  margin: var(--space-regular);
  padding: var(--space-regular);
}

footer {
  background-color: #263238;
  text-align: center;
  padding: var(--space-small) 0;
}