@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* Color Palette */
  --color-primary: #668586; /* Soft teal used for headers and footers */
  --color-secondary: #D7A8A2; /* Dusty rose used for hover states */
  --color-text: #7A6F72; /* Earthy brown used for primary text */
  --color-background: #FFF8E7; /* Cream used for background */
  --color-links: #CAB8D9; /* Soft lavender used for links */

  /* Font-Family */
  --font-primary: 'Raleway', serif; /* Primary font for body text */
  --font-secondary: 'IBM Plex Sans', sans-serif; /* Secondary font for headings and UI components */

  /* Font-Sizes */
  --font-size-body: 1rem; /* Body text size 16px */
  --font-size-large: 1.5rem; /* Larger text size for major headings 24px */

  /* Spacing */
  --space-regular: 20px; /* Regular spacing for padding and margins */
  --space-small: 10px; /* Smaller spacing for smaller paddings and margins */

  /* Borders */
  --border-radius: 8px; /* Common border radius for UI elements like buttons, inputs */
}